{% extends "AppMagico/base.html" %}
{% load static %}

{% block title %}Mágico Aprendizaje - {{ post.title }}{% endblock %}
{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
{% endif %}
{% endblock %}
{% block content %}
    <!-- main static-->
        <!-- h1 -->    
           <!--- <img class="img-fluid div-polaroidform img-p" src="{% static 'AppMagico/img/magicobq.png' %}"
                alt="Imagen Principal Magico Aprendizaje">
            -->    
            <h2>{{ post.title }}</h2>
            <article>
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
    <p>{{ post.content }}</p>
    <p>Start Date: {{ post.start_date }}</p>
    <p>End Date: {{ post.end_date }}</p>
    <p>Type: {{ post.get_post_type_display }}</p>
    {% if post.images.all %}
    <div>
      {% for image in post.images.all %}
      <img src="{{ image.image.url }}" alt="Image for {{ post.title }}" />
      {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'RV_vpost_list' %}">Back to Posts</a>
  </div>
</div>  
</article>
</section>
</main>
{% endblock %}
