{% extends "AppMagico/base.html" %}
{% load static %}

{% block title %}Mágico Aprendizaje - Blog - Listado de Post{% endblock %}
{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
{% endif %}
{% endblock %}
{% block content %}
    <!-- main static-->
        <!-- h1 -->    
           <!--- <img class="img-fluid div-polaroidform img-p" src="{% static 'AppMagico/img/magicobq.png' %}"
                alt="Imagen Principal Magico Aprendizaje">
            -->    
            <h2>Blog Posts</h2>
            <article>
              <div class="d-flex justify-content-center">
               <!-- <div class="d-flex flex-column"> -->
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for post in posts %}
                    <div class="col">
                       <div class="card">
                          {% if post.images.all %}
                            <div>
                              {% for image in post.images.all %}
                              <img src="{{ image.image.url }}" class="card-img-top" alt="Image for {{ post.title }}" />
                              {% endfor %}
                            </div>
                          {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                              <p class="card-text"> <a href="{% url 'RV_vpost_detail' post.id %}">{{ post.title }}</a></p>
                              <a href="{% url 'RV_vupdate_post' post.id %}">Edit</a>
                              <a href="{% url 'RV_vdelete_post' post.id %}">Delete</a>
                          </div>
                      </div>
                    </div>
                    {% endfor %}

  </div>
</div>  
</article>
</section>
</main>
{% endblock %}
