<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
  </head>
  <body>
    <h1>Blog Posts</h1>
    <ul>
      {% for post in posts %}
      <li>
        <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>Start Date: {{ post.start_date }}</p>
        <p>End Date: {{ post.end_date }}</p>
        <p>Type: {{ post.get_post_type_display }}</p>
        {% if post.images.all %}
        <div>
          {% for image in post.images.all %}
          <img src="{{ image.image.url }}" alt="Image for {{ post.title }}" />
          {% endfor %}
        </div>
        {% endif %}
        <a href="{% url 'update_post' post.id %}">Edit</a>
        <a href="{% url 'delete_post' post.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
