{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Mágico Aprendizaje ofrece servicios de tareas dirigidas, club de lectura y club de refuerzo para niños y adolescentes, ayudándolos a alcanzar su máximo potencial académico.">
    <meta name="keywords"
        content="tareas dirigidas, club de lectura, club de refuerzo, aprendizaje, educación, niños, adolescentes, Mágico Aprendizaje">
    <meta name="author" content="Mágico Aprendizaje">
    <title>{% block title %} {% endblock %}</title>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mágico Aprendizaje - Educación y Apoyo Escolar">
    <meta property="og:description"
        content="Ofrecemos servicios de tareas dirigidas, club de lectura y club de refuerzo para niños y adolescentes.">
    <meta property="og:image" content="URL_DE_LA_IMAGEN_DE_PREVISUALIZACION">
    <meta property="og:url" content="https://luiscossenet.github.io/PF-COSSENET/">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mágico Aprendizaje - Educación y Apoyo Escolar">
    <meta name="twitter:description"
        content="Ofrecemos servicios de tareas dirigidas, club de lectura y club de refuerzo para niños y adolescentes.">
    <meta name="twitter:image" content="https://luiscossenet.github.io/PF-COSSENET/img/imgmagicobq.jpeg">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'AppMagico/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'AppMagico/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'AppMagico/img/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'AppMagico/img/apple-touch-icon.png' %}">
    <!-- CSS -->
    <link href="{% static 'AppMagico/css/main.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="row container-bar ">
            <div class="bar"></div>
        </div>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index.html">Magico Aprendizaje</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
                                Servicios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/pages/clubdelectura/">Club de Lectura</a></li>
                                <li><a class="dropdown-item" href="/pages/clubderefuerzos/">Club de Refuerzos</a>
                                </li>
                                <li><a class="dropdown-item" href="/pages/clubtardesmagicas">Club Tardes
                                        Mágicas</a></li>
                                <li><a class="dropdown-item" href="/pages/clubtareasdirigidas">Club Tareas
                                        Dirigidas</a></li>
                                <li><a class="dropdown-item" href="/pages/clubtallerintegrado">Club Taller
                                        Integrado</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/contactenos" target="_blank">Contactenos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
                                CRUD
                            </a>
                            <ul class="dropdown-menu">
                                
                                <li><a class="dropdown-item" href="#">Estados</a></li>
                                <ul class="dropdown-menu-item">
                                    <li><a class="dropdown-item" href="/pages/addEstados/">Crear Estados</a></li>
                                    <li><a class="dropdown-item" href="/pages/selEstados/">Consultar Estados</a></li>
                                </ul>    
                                <li><a class="dropdown-item" href="/pages/clubderefuerzos/">Club de Refuerzos</a>
                                </li>
                                <li><a class="dropdown-item" href="/pages/clubtardesmagicas">Club Tardes
                                        Mágicas</a></li>
                                <li><a class="dropdown-item" href="/pages/clubtareasdirigidas">Club Tareas
                                        Dirigidas</a></li>
                                <li><a class="dropdown-item" href="/pages/clubtallerintegrado">Club Taller
                                        Integrado</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section id="section" class="text-center container">
            <h1 translate="no"><a class="a_web" href="/">Magico Aprendizaje</a></h1>    
    {% block content %}

    {% endblock %}
    <footer>

        <div class="line">
            <a class="aicom_web whatsapp-link"
                href="https://api.whatsapp.com/send?phone=+573124084212&text=Hola,%20estoy%20interesado%20en%20los%20servicios%20de%20Mágico%20Aprendizaje."
                target="_blank">
                <img src="{% static 'AppMagico/img/whatsapp_icon_2.png' %}" alt="Imagen icono Whatsapp" width="30" height="30">
                <span>+57 312 4084212</span>
            </a>
        </div>

        <div class="line">
            <a class="aicom_web facebook-link" href="https://www.facebook.com/magicoaprendizajebq" target="_blank">
                <span>magicoaprendizajebq</span>
                <img src="{% static 'AppMagico/img/facebook_icon.png' %}" alt="Imagen icono Facebook" width="30" height="30">
            </a>
        </div>
        <div class="line">
            <a class="aicom_web instagram-link" href="https://www.instagram.com/magicoaprendizajebq" target="_blank">
                <img src="{% static 'AppMagico/img/instagram_icon.png' %}" alt="Imagen icono Instagram" width="30" height="30">
                <span>magicoaprendizajebq</span>
            </a>
        </div>

        <div class="line">
            <a class="aicom_web mail-link" href="mailto:info@magicoaprendizaje.com">
                <span>info@magicoaprendizaje.com</span>
                <img src="{% static 'AppMagico/img/mail_icon.png' %}" alt="Imagen icono Correo" width="30" height="30">
            </a>

        </div>
        <div class="line">
            <a class="aicom_web web-link" href="https://www.magicoaprendizaje.com" target="_blank">
                <img src="{% static 'AppMagico/img/www_icon.png' %}" alt="Imagen icono Web" width="30" height="30">
                <span>www.magicoaprendizaje.com</span>
            </a>
        </div>
        <div class="line">
            <p>&copy; 2024 Mágico Aprendizaje. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="{% static 'AppMagico/js/bootstrap.min.js' %}"></script>
    {% block scripts %}

    {% endblock %}
    
</body>

</html>