{% extends "AppMagico/base.html" %}
{% load static %}

{% block title %}Mágico Aprendizaje - Consulta Estados{% endblock %}

{% block content %}
    <!-- main static-->
        <!-- h1 -->    
           <!--- <img class="img-fluid div-polaroidform img-p" src="{% static 'AppMagico/img/magicobq.png' %}"
                alt="Imagen Principal Magico Aprendizaje">
            -->    
            <h2>Consultar Estados de Registros</h2>
            <article>
                {% if pFormEstado.errors %}
                <p style="color: red;">Por favor corrija los errores debajo.</p>
            {% endif %}
            <!--/pages/test/ -->
            <form action="" method="POST">{% csrf_token %}
                <table>
                    {{ pFormEstado.as_table }}
                </table>
                <input type="submit" value="Enviar">
            </form>
            </article>
            {% if mensaje %}
            <div class="container text-center alert alert-success" role="alert">
                <p>Resultado</p>
                <p>{{ respuesta }}</p>
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>ID Estado</th>
                            <th>Fecha de Alta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cargo in cargos %}
                        <tr>
                            <td>{{ cargo.id }}</td>
                            <td>{{ cargo.nombre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            
        </section>
    </main>
{% endblock %}

