{% extends "AppMagico/base.html" %}
{% load static %}


{% block title %}Mágico Aprendizaje - Club de Lectura{% endblock %}

{% block content %}
    <!-- main static-->
        <!-- h1 -->    
        <h2>Club de Refuerzos</h2>
        <div class="image-container">
            <img class="responsive-image div-polaroid" src="{% static 'AppMagico/img/clubderefuerzos.jpg' %}" alt="Club de Refuerzos, Mama e Hija estudiando.">
        </div>
        <article>
            <p> Brindamos apoyo academico en nivelacion de asignaturas en preescolar y primaria, implementando
                actividades ludicas que favorecen el aprendizaje de los niños y niñas de acuerdo a sus necesidades.
            </p>
        </article>
    </section>
</main>
{% endblock %}