{% extends "AppMagico/base.html" %}
{% load static %}

{% block title %}Mágico Aprendizaje - Eliminar Estados{% endblock %}

{% block content %}
    <!-- main static-->
        <!-- h1 -->    
           <!--- <img class="img-fluid div-polaroidform img-p" src="{% static 'AppMagico/img/magicobq.png' %}"
                alt="Imagen Principal Magico Aprendizaje">
            -->    
            <h2>Eliminar Estados de Registros C</h2>
            <article>
                {% if pFormEstado.errors %}
                <p style="color: red;">Por favor corrija los errores debajo.</p>
            {% endif %}
            <!--/pages/test/ -->
            <form action="{% url 'vEstadoSelectForm' %}" method="POST">{% csrf_token %}
                <table>
                    {{ pFormEstado.as_table }}
                </table>
                <input type="submit" value="Enviar">
            </form>
            </article>
            
            
        </section>
    </main>
{% endblock %}

